{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">

    <link rel="stylesheet" href="{% static 'css/vendor/cs-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing/main.css' %}">

    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/6b6caf7f8e/webtech-games/style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,500,700,900">
</head>
<body>
<div class="popup-blur">
    <header>
        <div class="left-container">
            <div class="logo"><span>WebTech</span> Games</div>
        </div>
        <div class="right-container">
            <div class="signup"><a class="button green" onclick="showPopup('sign-in')">Sign In</a><a class="button blue"
                                                                                                     onclick="showPopup('sign-up')">Sign
                Up</a></div>
        </div>
    </header>
    <main ng-app="games" ng-controller="gamesController">
        <div class="banner-container" id="banner_container">
            <div class="banner" id="banner"
                 style="background-image: url({% static 'img/landing-background.jpg' %});"></div>
            <div class="banner-content">
                <div class="splash">
                    <h1>Want To Track Your Gaming Skills?</h1>
                    <p>Signing up allows you to record your game activity and highscores. Save your highscores and
                        compete with others!</p>
                    <a class="button blue" onclick="showPopup('sign-up')">Sign Up Now</a>
                </div>
            </div>
        </div>

        <div class="sorting-controls">
            <h3>Games</h3>
            <div class="sorting">
                <select class="cs-select cs-skin-elastic">
                    <option value="" disabled selected>Sort Games By</option>
                    <option value="-date_added">Date</option>
                    <option value="-highscore">Highscore</option>
                </select>
            </div>
        </div>

        <div class="games">
            <div class="game" ng-repeat="game in games | orderBy: gameSorting">
                <img class="cover-photo" ng-style="{'background-image': 'url({% static 'games' %}/' + game.game_id + '/banner.png)'}">
                <div class="info">
                    <h2>{% templatetag openvariable %} game.name {% templatetag closevariable %}</h2>
                    <p class="description">{% templatetag openvariable %} game.description {% templatetag closevariable %}</p>
                    <div class="highscore"><span>Highscore:</span>{% templatetag openvariable %} game.highscore {% templatetag closevariable %}</div>
                </div>
                <div class="play">
                    <img class="photo" ng-src="{% static 'games' %}/{% templatetag openvariable %}game.game_id{% templatetag closevariable %}/banner.png">
                    <a href="#" class="button full-width green">Play Game</a>
                </div>
            </div>
        </div>
    </main>
</div>

<div class="popup-container">
    <div class="popup popup-sign-in">
        <h2>Sign in</h2>
        <form class="login-form" role="form" action="" method="post" enctype="multipart/form-data">
            <label for="sign_in_email">E-mail</label>
            <input id="sign_in_email" name="username" placeholder="username">
            <label for="sign_in_password">Password</label>
            <input id="sign_in_password" name="password" type="password" placeholder="example">
            <a class="button green full-width">Sign In!</a>
        </form>
    </div>
    <div class="popup popup-sign-up">
        <h2>Sign up</h2>
        <form class="login-form">
            <label for="sign_up_email">E-mail</label>
            <input id="sign_up_email" placeholder="example@example.com">
            <label for="sign_up_password">Password</label>
            <input id="sign_up_password" type="password" placeholder="example">
            <label for="sign_up_password_repeat">Repeat Password</label>
            <input id="sign_up_password_repeat" type="password" placeholder="example">
            <a class="button blue full-width">Register</a>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
<script src="{% static 'js/vendor/color-thief.js' %}"></script>
<script src="{% static 'js/vendor/classie.js' %}"></script>
<script src="{% static 'js/vendor/selectFx.js' %}"></script>
<script src="{% static 'js/general-functions.js' %}"></script>
<script src="{% static 'js/popups.js' %}"></script>
<script src="{% static 'js/api.js' %}"></script>
<script src="{% static 'js/landing/app.js' %}"></script>
<script>
    $(document).ready(function () {
        // Get banner element and background-url and correct background blur
        var $banner = $('#banner');
        var $bannerContainer = $('#banner_container');
        correctBackgroundBlur($banner, $bannerContainer);

        var api = new Api('http://localhost', true);
    });
</script>
</body>
</html>